<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Kit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
  
    
    <link rel="stylesheet" href="home.css">
    <script src="search.js"></script>
    <script src="nav.js"></script>
    <script src="footer.js"></script>
    <script src="user.js"></script>
    <script src="adminOnly.js"></script>
  
    <style>
    
      .center-header {
       display: flex;
       justify-content: center;
       align-items: center;
       color: #A50044;
     }
     .center-form {
       display: flex;
       justify-content: center;
       align-items: center;
     }
     body {
       display: flex;
       flex-direction: column;
       min-height: 100vh;
     }
     
    
   </style>
</head>

<body>

  <section id="nav-placeholder"></section>

  
    <div class="container center-header">
      <h1>Delete Kit</h1>
    </div>
    <div class="container center-form">
    <form action="/deleteKit" method="POST">
      <label for="product_name">Product Name:</label>
      <input type="text" id="product_name" name="description" required><br><br>
    
      <button type="submit" class="btn btn-danger">Delete Kit</button>
    </form>
  </div>
  <section id="footer-placeholder"></section>


  <script>
    
    const urlParams = new URLSearchParams(window.location.search);
    const error = urlParams.get('error');
    
    if (error) {
      
      alert('Kit Not Found!');
    }
  </script>
</body>
</html>