<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contact - Stela</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="home.css">

</head>
<body>

    <section id="nav-placeholder"></section>

    <section id="contact">
        <section id="home">
            <div class="container">
                <h1 style="font-size: 30px;">Branches</h1>
        </section>
    </section>

    <section id="footer-placeholder"></section>
    <script>
        fetch('nav.html')
        .then(response => response.text())
        .then(navHtml => {
        document.querySelector('#nav-placeholder').innerHTML = navHtml;
        });

        fetch('footer.html')
            .then(response => response.text())
            .then(footerHtml => {
            document.querySelector('#footer-placeholder').innerHTML = footerHtml;
        });
    </script>
</body>
</html>