<section id="footer">

    <footer class="footer">
        <div class="container">
        <div class="row">
            <div class="col-md-4">
            <h5 class="logo">Stela</h5>
            <p>Leading sports brands.</p>
            
            </div>
            <div class="col-md-2">
            <h5>Shop</h5>
            <div class="links">
                <a href="allKits">AllKits</a>
            </div>
            </div>
            <div class="col-md-2">
            <h5>Support</h5>
            <div class="links">
                <a href="matches">Live Scores</a>
                <a href="about">About</a>
                <a href="contact">Contact</a>
                <a href="branches">Branches</a>
            </div>
            </div>
            <div class="col-md-2">
                <a href="https://www.facebook.com/profile.php?id=61550510593116" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-facebook-square facebook-icon"></i>
                </a>          
                
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
            <p>&copy; 2023 Stela. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-right">
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
            </div>
        </div>
        </div>
    </footer>
    

</section>