<section id="nav">

    <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
        <div class="container">
            <a class="navbar-brand" href="home.html">Stela</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span><i id="bar" class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="allKits.html">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="branches.html">Branches</a> 
                    </li>
                    <li class="nav-item" >
                        <form class="navbar-form pull-left">
                            <input type="text" class="span2" placeholder="Search..." onkeyup="sendData(this)">
                            <section id="searchResults">
                            </section>
                          </form>
                    </li>
                    <li class="nav-item">
                        <a href="cart.html">
                            <i class="fal fa-shopping-bag"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="login.html">
                            <i class="fas fa-solid fa-user"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</section>
