<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <section id="nav-placeholder"></section>

    <main>
        <div class="container">
          <h2>Your Shopping Cart</h2>
          <table class="table" id="cartTable">
            <tr>
              <th>Item</th>
              <th>Size</th>
              <th>Quantity</th>
              <th>Price</th>
              <th></th>
              <th></th>
            </tr>
          </table>
          <div id="totalPrice"></div>
          <div class="text-right mt-3">
            <button class="btn btn-primary checkout-btn">Checkout</button>
          </div>
        </div>
      </main>

    <section id="footer-placeholder"></section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Script to load navbar and footer dynamically
        fetch('nav.html')
            .then(response => response.text())
            .then(navHtml => {
                document.querySelector('#nav-placeholder').innerHTML = navHtml;
            });

        fetch('footer.html')
            .then(response => response.text())
            .then(footerHtml => {
                document.querySelector('#footer-placeholder').innerHTML = footerHtml;
            });
    </script>
     <script src="/cart.js"></script>
</body>

</html>
