<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Leagues</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="home.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="home.css">
    <script src="search.js"></script>
    <script src="nav.js"></script>
    <script src="footer.js"></script>
    <script src="user.js"></script>
    
    <style>
        .kit-card {
            width: calc(33.33% - 20px); /* Distribute kits in 3 columns with some spacing */
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px; /* Adjust margin for spacing */
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box; /* Include padding and border in the width calculation */
        }
          
          .kit-card p {
            margin-bottom: 1px;
          }
          
          .kit-card img {
            width: 100%;
            height: 160px;
            border-radius: 5px;
          }
          
          .kit-card h2 {
            font-size: 7mm;
            margin: 5px 0;
          }
          
          .kit-card h3 {
            margin: 10px 0;
          }
          .filter-checkboxes label {
            display: block;
        }
    </style>
</head>
<body>
    
    <section id="nav-placeholder"></section>
    
    <div class="container">
        <div class="row">
            <div class="col-md-3 filter-section">

                <h2 id="league-name"></h2>
                
                <h5>Teams</h5>
                <div class="form-check">
                    <input class="form-check-input team-checkbox" type="checkbox" id="teamArsenal" name="team" value="Arsenal">
                    <label class="form-check-label" for="teamArsenal">
                        Arsenal
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input team-checkbox" type="checkbox" id="teamChelsea" name="team" value="Chelsea">
                    <label class="form-check-label" for="teamChelsea">
                        Chelsea
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input team-checkbox" type="checkbox" id="teamLiverpool" name="team" value="Liverpool">
                    <label class="form-check-label" for="teamLiverpool">
                        Liverpool
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input team-checkbox" type="checkbox" id="teamManCity" name="team" value="Manchester City">
                    <label class="form-check-label" for="teamManCity">
                        Manchester City
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input team-checkbox" type="checkbox" id="teamManUnited" name="team" value="Manchester United">
                    <label class="form-check-label" for="teamManUnited">
                        Manchester United
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input team-checkbox" type="checkbox" id="teamSpurs" name="team" value="Tottenham Hotspur">
                    <label class="form-check-label" for="teamSpurs">
                        Tottenham Hotspur
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input team-checkbox" type="checkbox" id="teamBarcelona" name="team" value="Barcelona">
                    <label class="form-check-label" for="teamBarcelona">
                        Barcelona
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input team-checkbox" type="checkbox" id="teamAtletico" name="team" value="Atletico Madrid">
                    <label class="form-check-label" for="teamAtletico">
                        Atletico Madrid
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input team-checkbox" type="checkbox" id="teamRealMadrid" name="team" value="Real Madrid">
                    <label class="form-check-label" for="teamRealMadrid">
                        Real Madrid
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input team-checkbox" type="checkbox" id="teamInterMilan" name="team" value="Inter Milan">
                    <label class="form-check-label" for="teamInterMilan">
                        AC Milan
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input team-checkbox" type="checkbox" id="teamInterMilan" name="team" value="Inter Milan">
                    <label class="form-check-label" for="teamInterMilan">
                        Inter Milan
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input team-checkbox" type="checkbox" id="teamJuventus" name="team" value="Juventus">
                    <label class="form-check-label" for="teamJuventus">
                        Juventus
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input team-checkbox" type="checkbox" id="teamBayern" name="team" value="Bayern Munich">
                    <label class="form-check-label" for="teamBayern">
                        Bayern Munich
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input team-checkbox" type="checkbox" id="teamDortmund" name="team" value="Borussia Dortmund">
                    <label class="form-check-label" for="teamDortmund">
                        Borussia Dortmund
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input team-checkbox" type="checkbox" id="teamPSG" name="team" value="Paris Saint-Germain">
                    <label class="form-check-label" for="teamPSG">
                        Paris Saint-Germain
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input team-checkbox" type="checkbox" id="teamPortugal" name="team" value="Portugal">
                    <label class="form-check-label" for="teamPortugal">
                        Portugal
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input team-checkbox" type="checkbox" id="teamBrazil" name="team" value="Brazil">
                    <label class="form-check-label" for="teamBrazil">
                        Brazil
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input team-checkbox" type="checkbox" id="teamSpain" name="team" value="Spain">
                    <label class="form-check-label" for="teamSpain">
                        Spain
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input team-checkbox" type="checkbox" id="teamArgentina" name="team" value="Argentina">
                    <label class="form-check-label" for="teamArgentina">
                        Argentina
                    </label>
                </div>
                <hr>
                <h5>Type</h5>
                <div class="form-check">
                    <input class="form-check-input type-checkbox" type="checkbox" id="typeHome" name="type" value="Home">
                    <label class="form-check-label" for="typeHome">
                        Home
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input type-checkbox" type="checkbox" id="typeAway" name="type" value="Away">
                    <label class="form-check-label" for="typeAway">
                        Away
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input type-checkbox" type="checkbox" id="typeTraining" name="type" value="Training">
                    <label class="form-check-label" for="typeTraining">
                        Training
                    </label>
                </div>
            </div>
            <div class="col-md-9">
                <div class="p-3 bg-white">
                    <div class="row" id="kit-list"></div>
                </div>
            </div>
        </div>
    </div>

    <section id="footer-placeholder"></section>

    <script>
        $(document).ready(function() {
            // Fetch kits data from the server
            function fetchKits(url) {
                return $.ajax({
                    type: 'GET',
                    url: url
                });
            }
        
            // Display kits on the page
            function displayKits(kits) {
                $('#kit-list').empty();
        
                if (kits.length > 0) {
                    kits.forEach(function(kit) {
                        var kitHtml = `
                            <div class="kit-card">
                                <img src="${kit.image}" alt="${kit.team_name} - ${kit.type}">
                                <p>League: ${kit.league}</p>
                                <p>Team: ${kit.team_name}</p>
                                <p>Type: ${kit.type}</p>
                                <a href="sKit?id=${kit._id}" class="btn btn-info">View Product</a>
                            </div>
                        `;
                        $('#kit-list').append(kitHtml);
                        $('#league-name').html(kit.league + " kits");
                    });
                } else {
                    var noResultsElement = $('<div>').text('No kits found.');
                    $('#kit-list').append(noResultsElement);
                }
            }
        
            // Apply filter logic
            function applyFilters(kits) {
                var selectedLeagues = [];
                var selectedTeams = [];
                var selectedTypes = [];
        
                $('.league-checkbox:checked').each(function() {
                    selectedLeagues.push($(this).val());
                });
        
                $('.team-checkbox:checked').each(function() {
                    selectedTeams.push($(this).val());
                });
        
                $('.type-checkbox:checked').each(function() {
                    selectedTypes.push($(this).val());
                });
        
               /* var filteredKits = kits.filter(function(kit) {
                    
                    var leagueMatch = selectedLeagues.includes(kit.league);
                    var teamMatch = selectedTeams.includes(kit.team_name);
                    var typeMatch =  selectedTypes.includes(kit.type);
        
                    return leagueMatch || teamMatch || typeMatch;
                });
                */
                
                var filteredKits = kits.filter(function(kit) {
                    
                    var leagueMatch = selectedLeagues.includes(kit.league);
                    var teamMatch = selectedTeams.includes(kit.team_name);
                    var typeMatch = selectedTypes.length === 0 || selectedTypes.includes(kit.type);
        
                    return (leagueMatch || teamMatch) && typeMatch;
                });
                
        
                if (selectedLeagues.length === 0 && selectedTeams.length === 0 && selectedTypes.length === 0) {
                    displayKits(kits);
                } 
                else {
                    displayKits(filteredKits);
                }

            }
        
        
            // Fetch query parameters from the URL
            var queryString = window.location.search;
            var urlParams = new URLSearchParams(queryString);
            var league = urlParams.get('league');
            var team_name = urlParams.get('team_name');
            var type = urlParams.get('type');
        
            // Mark the corresponding league checkbox as selected and disable others
            if (league) {
                $('#league' + league.replace(' ', '')).prop('checked', true);
        
                // Disable the other league checkboxes
                $('.league-checkbox').each(function() {
                    var checkboxValue = $(this).val();
                    if (checkboxValue !== league) {
                        $(this).prop('disabled', true);
                        $(this).next('.form-check-label').addClass('text-muted'); // Add a class to style as muted
                    }
                });
        
                // Fetch kits from the specific league
                var leagueUrl = '/kits/league/' + encodeURIComponent(league);
                
                fetchKits(leagueUrl).done(function(kits) {
                    // Populate team filter checkboxes with teams from the selected league
                    var teamsInLeague = [...new Set(kits.map(kit => kit.team_name))];
                    $('.team-checkbox').each(function() {
                        var checkboxValue = $(this).val();
                        if (!teamsInLeague.includes(checkboxValue)) {
                            $(this).parent('.form-check').hide(); // Hide the checkbox label and input
                        }
                    });
        
                    // Apply initial filters for teams within the league
                    applyFilters(kits);
                });
        
                // Attach event listeners to team and type checkboxes
                $('.team-checkbox, .type-checkbox').change(function() {
                    fetchKits(leagueUrl).done(function(kits) {
                        applyFilters(kits); // Apply filters on checkbox change
                    });
                });
            }
        
        
           
        });
        
    </script>

</body>
</html>
